---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Steven Quihuire y soy desarrollador FrontEnd apasionado por brindar la mejor experiencia a los usuarios. Me encanta saber que, gracias a mis habilidades, puedo crear cosas increíbles.
  </p>
  <p>
    Actualmente estoy <strong>especializándome en React</strong>, y próximamente planeo profundizar mis conocimientos en TypeScript. Considero que la combinación de estas tecnologías es clave para el desarrollo moderno y eficiente de aplicaciones web.
  </p>
  <p>
    Siempre busco aprender nuevas tecnologías y mantenerme al día con las tendencias del sector. El diseño y la experiencia del usuario son mis principales motivaciones, y creo que una interfaz bien diseñada puede marcar la diferencia entre una buena y una excelente experiencia de usuario.
  </p>
  <p>
    Mantener mi salud mental y ser proactivo son aspectos importantes en mi vida profesional y personal. Estas cualidades me ayudan a enfrentar desafíos con una perspectiva positiva y a contribuir de manera efectiva en los equipos de trabajo.
  </p>
  </div>

  <img width="200" height="200" src="/img_perfil.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

