---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2023 - Junio 2024",
    title: "Desarrollador FrontEnd Glamour Mode Boutique",
    company: "Quito - Ecuador",
    description:
      "Mejoré la carga de productos en el ecommerce mediante la implementación de mejores prácticas en la optimización de imágenes y background images, utilizando servicios comparables a los de pago.",
  },
  {
    date: "Febrero - Marzo 2024",
    title: "Desarrollador Web FrontEnd para pagina veterinaria",
    company: "PetPaw",
    description:
      "Principal desarrollador frontend para el control de la gestión del diseño de la pagina de la empresa.",
    link: "https://petpaw.framer.website/",
    }, {
    date: "Julio 2023– Noviembre 2023",
    title: "Resolución de errores en el servicio web",
    company: "Seguros Equinoccial",
    description:
      "Solucioné errores críticos en el servicio web de Seguros Equinoccial utilizando SQL Server.",
    link: "https://segurosequinoccial.com/",
    }, {
    date: "Enero 2023 – Mayo 2023",
    title: "Desarrollador FrontEnd",
    company: "Academy Elite",
    description:
      "Creé un servicio web para educación, utilizando herramientas de terceros para el backend.",
    }, {
    date: "Enero - Marzo 2023",
    title: "Desarrollador Mobile React Native",
    company: "Chile - EEUU",
    description:
      "Creacion de modulo para el desarrollo de aplicación móvil.",
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
