---
import Badge from "./Badge.astro";
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src='https://i.ibb.co/RSzt2Ch/miagenmialista.jpg'
    />
    
    <a
      href="https://linkedin.com/in/steven-quihuire"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Steven
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 año de experiencia. <strong
      >Estudiante de Desarrollo de Software y Diseñador de Interfaces</strong
    > de Ecuador, Quito 🇪c. Especializado en el desarrollo de aplicaciones web
    únicas para brindar la mejor experiencia a los usuarios.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:stevdev04@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/steven-quihuire">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
